<h1>Robots in this World</h1>

<p>
  Robot Stats
</p>

<%= average_age %>
<%= annual_hires_count %>
<%= per_department_count %>
<%= per_city_count %>
<%= per_state_count %>

<%= message %>


<!-- stats average robot age, a breakdown of how many robots were hired each year, and number of robots in each department/city/state.-->
