<h3> <%= @robot.name %> </h3>

<table id="robot-table" class="table" style="width:100%">
  <tr>
    <th>Avatar</th>
    <th>City</th>
    <th>State</th>
    <th>Birthdate</th>
    <th>Date Hired</th>
    <th>Department</th>
  </tr>

  <tr>
    <td> <img src="<%= @robot.avatar %>" alt="avatar" id="avatar"/> </td>
    <td> <%= @robot.city %> </td>
    <td> <%= @robot.state %> </td>
    <td> <%= @robot.birthdate %> </td>
    <td> <%= @robot.date_hired %> </td>
    <td> <%= @robot.department %> </td>
  </tr>
</table>
