<p>Update away~~~</p>

<form action="/robots/<%= @robot.id %>" method="post" role="form" id="update-<%= @robot.id %>">
  <input type="hidden" name="_method" value="put"/>
  <input type="text" name="robot[avatar]" value="<%= @robot.avatar %> "><br>
  <input type="text" name="robot[name]" value="<%= @robot.name %>"><br>
  <input type="text" name="robot[city]" value="<%= @robot.city %>"><br>
  <input type="text" name="robot[state]" value="<%= @robot.state %>"><br>
  <input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>"><br>
  <input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>"><br>
  <input type="text" name="robot[department]" value="<%= @robot.department %>"><br>
  <input type="submit" name="submit" value="Ready for change!">
</form>
